/********* GLOBAL ***************/
:root {
    --background-col: #1F2937;
    --secondary: #E11D48;

}

body {
    font-family: Inter, sans-serif;
    background-color: var(--background-col);
    color: white;
}

hr {
    height: 0;
    border: 0.5px solid black;
    margin: 5px 45px;
    
}

h1 {
    font-size: 3rem;
}

/********* CONTENT CONTAINER ***************/