/********* GLOBAL ***************/

:root {
  /* Use css variables for colors */
  --background-col: #1f2937;
  --secondary: #e11d48;
}

* {
    color: white;
}

body {
  font-family: Inter, sans-serif;
  background-color: var(--background-col);
}

hr {
  height: 0;
  border: 0.5px solid black;
  margin: 5px 45px;
}

h1 {
  font-size: 3rem;
}

/********* CONTENT CONTAINER ***************/

.container {
  display: flex;
  flex-direction: column;
  border: 3px solid black;
  width: 90vw;
  margin: 50px auto;
  padding: 20px;
  box-shadow: 11px 10px 23px -10px rgba(0, 0, 0, 0.75);
  max-width: 700px;
}

.container > * {
  /* Give all children in the container a bottom margin of 15px */
  margin-bottom: 15px;
}

.color {
  color: var(--secondary);
}

/********* GENERATE PASSWORD BUTTON ***************/

#generate-p-button {
  align-items: center;
  background-color: var(--secondary);
  border: 2px solid black;
  border-radius: 8px;
  cursor: pointer;
  display: flex;
  font-size: 1rem;
  height: 46px;
  justify-content: center;
  line-height: 24px;
  width: 200px;
  margin-right: 10px auto 5px;
  position: relative;
  text-align: center;
  user-select: none; /* Controls whether user can select text */
  color: black;
}
/* Create a box that disappears when user hovers over the button */
#generate-p-button:after {
  background-color: black;
  border-radius: 8px;
  content: "";
  height: 45px;
  width: 100%;
  position: absolute;
  transform: translate(8px, 8px);
  transition: transform 0.3s ease-out;
  z-index: -1;
}

#generate-p-button:hover:after {
  transform: translate(0, 0);
}

/********* PASSWORD CONTAINER ***************/

#random-password {
  width: 80%;;
  padding: 30px 3px;
  height: 100px;
  background-color: #374151;
  border-radius: 6px;
  color: white;
  text-align: center;
  margin: 0 auto;
  word-break: break-all; /* to stop overflow, characters are placed on a new line when limit of container is reached */
  user-select: all; /* user can select all paragraph content with one click */
}
